# bsc
NEXT_PUBLIC_BSC_BLOCK_EXPLORER_URL=https://testnet.bscscan.com/
NEXT_PUBLIC_BSC_RPC_URL=https://rpc.ankr.com/bsc_testnet_chapel
NEXT_PUBLIC_BSC_CHAIN_ID=97
NEXT_PUBLIC_BSC_CHAIN_ID_HEX=0x61

# data
NEXT_PUBLIC_SIGN_MESSAGE='welcome to galatic zone'
NEXT_PUBLIC_BACKEND=https://api.galactix.sotatek.works/api/

# address
NEXT_PUBLIC_BUSD_ADDRESS=0xEDe0863CF99De9FFA1FE10eB6f746a77ca22cbf1
NEXT_PUBLIC_DNFT_ADDRESS=0x41fa13a2966253759bDf1d6A7Ae325C2A32C6895
NEXT_PUBLIC_KEYNFT_ADDRESS=0x104b51FeD382c3517E6Bee6cfb2dfCa7F49dCBC3
NEXT_PUBLIC_PRESALE_POOL_ADDRESS=0xf97F84D73DA606A429E8FE78Bc4800b9696762D8
NEXT_PUBLIC_GXZ_TOKEN=0xbE464b976E48869303D3D41fa4b2856C05E32AAa