.landing {
	font-family: 'Avenir Next LT Pro', sans-serif;
	max-width: 100%;
	overflow: hidden;
	background-color: #0c1e32;

	&:-webkit-scrollbar {
		display: none;
	}

	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */

	&_background {
		background-repeat: repeat;
		background-position: center;
		background-size: contain;
		display: flex;
		align-items: center;
		flex-direction: column;

		background-image: url('../../../../public/images/background.svg');

		@media screen and (max-width: 1200px) {
			background-size: 500%;
		}
	}
}
