.roadmap-section {
	padding-top: 9.8125rem;
	width: 100%;

	@media screen and (max-width: 1200px) {
		padding: 9.8125rem 32px 0 32px;
	}
}

.timeline-container {
	position: relative;
	padding-bottom: 8.0625rem;

	&:before {
		display: flex;
		content: '';
		width: 1px;
		height: 100%;
		display: block;
		left: 50%;
		position: absolute;
		background: linear-gradient(
			102.92deg,
			#3bbfff 0%,
			#d47af5 56.77%,
			rgba(212, 122, 245, 0) 99.1%
		);

		@media screen and (max-width: 1200px) {
			display: none;
		}
	}
}

.timeline-child-container {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 2rem 0;

	@media screen and (max-width: 1200px) {
		padding: 0;
		padding-top: 35px;

		flex-direction: column-reverse;
	}
}

.timeline-box {
	width: 50%;
	height: 100%;
	padding-top: 1.5rem;
	position: relative;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */

	@media screen and (max-width: 1200px) {
		width: 100%;
		padding: 0;
		margin-top: 1.0625rem;
	}
}

.timeline-img {
	height: 100%;
	width: 50%;
	display: flex;
	/* align-items: center; */
	@media screen and (max-width: 1200px) {
		width: 100%;
	}

	> img {
		@media screen and (max-width: 1200px) {
			margin: 0 !important;

			height: 100% !important;
		}
	}
}

.timeline-box-left {
	padding-right: 6.375rem;
	align-items: flex-end;

	@media screen and (max-width: 1200px) {
		padding: 0;
		align-items: flex-start;
	}
}

.timeline-img-left {
	height: 100%;
	justify-content: flex-start;

	@media screen and (max-width: 1200px) {
		justify-content: center;
	}
}

.timeline-box-right {
	height: 100%;
	padding-left: 6.375rem;
	align-items: flex-start;

	@media screen and (max-width: 1200px) {
		padding: 0;
		align-items: flex-start;
	}
}

.timeline-img-right {
	justify-content: flex-end;

	@media screen and (max-width: 1200px) {
		justify-content: center;
	}
}

.timeline-point {
	position: absolute;
	border-radius: 5px;
	width: 1rem;
	height: 1rem;
	display: flex;
	align-items: center;
	border: 3px solid #0c1e32;
	top: 50px;

	&:before {
		content: '';
		position: absolute;
		border-radius: 5px;
		transform: rotate(45deg);
		top: 1.5rem;
		width: 50px;
		height: 1px;

		@media screen and (max-width: 1200px) {
			display: none;
		}
	}

	@media screen and (max-width: 1200px) {
		display: none;
	}
}

.timeline-container .timeline-child-container:nth-child(1) .timeline-point {
	background: #36c1ff;
}

.timeline-container
	.timeline-child-container:nth-child(1)
	.timeline-point::before {
	background: #36c1ff;
}

.timeline-container .timeline-child-container:nth-child(2) .timeline-point {
	background: #66abfc;
}

.timeline-container
	.timeline-child-container:nth-child(2)
	.timeline-point::before {
	background: #66abfc;
}

.timeline-container .timeline-child-container:nth-child(3) .timeline-point {
	background: #9198f9;
}

.timeline-container
	.timeline-child-container:nth-child(3)
	.timeline-point::before {
	background: #9198f9;
}

.timeline-container .timeline-child-container:nth-child(4) .timeline-point {
	background: #c980f6;
}

.timeline-container
	.timeline-child-container:nth-child(4)
	.timeline-point::before {
	background: #c980f6;
}

.timeline-container .timeline-child-container:nth-child(5) .timeline-point {
	background: #a464c6;
}

.timeline-container
	.timeline-child-container:nth-child(5)
	.timeline-point::before {
	background: #a464c6;
}

.timeline-container .timeline-child-container:nth-child(6) .timeline-point {
	background: #58417d;
}

.timeline-container
	.timeline-child-container:nth-child(6)
	.timeline-point::before {
	background: #58417d;
}

.timeline-point-left {
	transform: translate(50%, -50%) rotate(-225deg);
	right: -0.5px;
}

.timeline-point-right {
	transform: translate(-50%, -50%) rotate(-45deg);
	left: 0.5px;
}

.timeline-title {
	font-size: 2.5rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
	color: #ffffff;
	line-height: 55px;
	text-align: right;

	@media screen and (max-width: 1200px) {
		font-size: 2rem;
		line-height: 42px;
	}
}

.timeline-list {
	max-width: 75%;

	> li {
		margin-top: 1.75rem;
		font-size: 1rem;
		line-height: 24px;
		color: #ffffff;
		opacity: 0.8;
		margin-top: 0.9375rem;
		list-style-type: none;
		display: flex;
		align-items: center;

		&:before {
			content: '\2022';
			color: #66abfc;
			font-weight: bold;
			display: inline-block;
		}
	}
}

.timeline-list-left {
	direction: rtl;

	@media screen and (max-width: 1200px) {
		direction: ltr;
	}
}

.timeline-list-left li {
	text-align: right;

	&:before {
		margin-left: 1em;
		@media screen and (max-width: 1200px) {
			margin-left: 0;
			margin-right: 1em;
		}
	}

	@media screen and (max-width: 1200px) {
		text-align: left;
	}
}

.timeline-list-right li {
	text-align: left;

	&:before {
		margin-right: 1em;
	}
}

.gradient-text {
	background: linear-gradient(
		102.92deg,
		#36c1ff 6.55%,
		#77a3f8 47.11%,
		#bd81f1 71.51%,
		#cf79ee 98.22%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
