.connect-wallet {
	background: linear-gradient(
		102.92deg,
		#36c1ff 6.55%,
		#77a3f8 47.11%,
		#bd81f1 71.51%,
		#cf79ee 98.22%
	);

	padding: 12px 22px;
	border-radius: 40px;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	border: none;
	height: auto;
	color: #ffffff;
	&:hover,
	&:focus {
		color: #ffffff;
		background: linear-gradient(
			102.92deg,
			#36c1ff 6.55%,
			#77a3f8 47.11%,
			#bd81f1 71.51%,
			#cf79ee 98.22%
		);
	}
}

.chosse-active {
	border: 1px solid #36c1ff;
}

.chosse-disable {
	border: none;
}

.common-normal-button {
	border-radius: 10px;
	height: auto;
	width: fit-content !important;
	outline: none;
	border: none;
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	padding: 8px 20px;
	border: none;

	&:hover {
	}
}

.button-disabled {
	opacity: 0.2;
	cursor: not-allowed;
}
