.connect-wallet {
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(
		102.92deg,
		#36c1ff 6.55%,
		#77a3f8 47.11%,
		#bd81f1 71.51%,
		#cf79ee 98.22%
	);

	padding: 12px 22px;
	border-radius: 40px;
	font-weight: 600;
	font-size: 14px;
	line-height: 24px;
	border: none;
	height: auto;
	color: #ffffff;
	&:hover,
	&:focus {
		color: #ffffff;
		background: linear-gradient(
			102.92deg,
			#36c1ff 6.55%,
			#77a3f8 47.11%,
			#bd81f1 71.51%,
			#cf79ee 98.22%
		);
	}

	img {
		margin-left: 10px;
	}
}

.chosse-active {
	border: 1px solid #36c1ff;
	color: #ffffff;
	mix-blend-mode: normal;
}

.chosse-disable {
	border: none;
	color: #ffffff0d;
	mix-blend-mode: luminosity;
}

.common-normal-button {
	border-radius: 10px;
	height: auto;
	width: auto;
	outline: none;
	border: none;
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	padding: 8px 20px;
	border: none;

	&:hover {
	}
}

.button-disabled {
	opacity: 0.2;
	cursor: not-allowed;
}

.buy-token {
	padding: 9px 36px;
	height: fit-content;
	background: linear-gradient(
		102.92deg,
		#36c1ff 6.55%,
		#77a3f8 47.11%,
		#bd81f1 71.51%,
		#cf79ee 98.22%
	);
	border-radius: 40px;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;

	&:hover,
	&:focus {
		background: linear-gradient(
			102.92deg,
			#36c1ff 6.55%,
			#77a3f8 47.11%,
			#bd81f1 71.51%,
			#cf79ee 98.22%
		);
	}
}
