@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Avenir Next LT Pro';
	src: url('../../fonts/avenir-next /Avenir Next LT Pro Bold.otf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next LT Pro';
	src: url('../../fonts/avenir-next /Avenir Next LT Pro Bold.otf');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next LT Pro';
	src: url('../../fonts/avenir-next /Avenir Next LT Pro Bold.otf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next LT Pro';
	src: url('../../fonts/avenir-next /Avenir Next LT Pro Regular.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next LT Pro';
	src: url('../../fonts/avenir-next /Avenir Next LT Pro Italic.otf');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir Next LT Pro';
	src: url('../../fonts/avenir-next /Avenir Next LT Pro Demi.otf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next LT Pro';
	src: url('../../fonts/avenir-next /Avenir Next LT Pro Demi Italic.otf');
	font-weight: 300;
	font-style: italic;
}
