@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Avenir Next LT Pro';
	src: url('../../fonts/avenir-next/Avenir-Next-LT-Pro-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next LT Pro';
	src: url('../../fonts/avenir-next/Avenir-Next-LT-Pro-Demi-Bold.ttf');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next LT Pro';
	src: url('../../fonts/avenir-next/Avenir-Next-LT-Pro-Demi-Bold.ttf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next LT Pro';
	src: url('../../fonts/avenir-next/Avenir-Next-LT-Pro-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
html {
	scroll-behavior: smooth;
	font-family: 'Avenir Next LT Pro', sans-serif;
}
