.countdown {
	display: flex;
	@apply gap-x-5;

	.box {
		@apply bg-purple text-chetwode-blue px-1 py-2 flex flex-col justify-center items-center rounded-lg text-2xl font-bold;
		width: 68px;
		height: 68px;
		position: relative;
		font-weight: 700;
		font-size: 1.5rem;
		line-height: 2rem;

		&:not(:last-child)::after {
			content: ':';
			position: absolute;
			right: -14px;
			font-weight: 700;
			font-size: 24px;
			color: white;
		}
	}

	.description {
		@apply text-sm font-normal text-chetwode-blue;
	}
}

.box-pool {
	@apply bg-[#0E1A2B] rounded-[10px] p-[30px] text-white;
}
