.ant-table {
	background: none;
	overflow: hidden;
	border-radius: 5px;
	border: none;
	background-color: #0e1a2b !important;
	padding: 20px 40px;
	font-weight: 600;
}

.ant-table-thead > tr > th {
	background: transparent !important;
	color: #ffffff;
	border-bottom: none;
	padding: 0 0 10px;
	font-size: 14px;
	line-height: 24px;
	font-family: 'Avenir Next LT Pro';
	border-color: #ffffff12;
}

.ant-table-tbody {
	font-size: 1rem;

	> tr {
		&:hover,
		&:focus,
		&:active {
			> td {
				background: none !important;
				color: #d47af5 !important;
			}
		}

		> td {
			padding: 22px 0;
			border-bottom: none;
			border-top: 1px solid #2f3041 !important;
			color: white !important;
		}
	}
}
.ant-table-row {
	cursor: pointer;
}

.ant-table-cell-row-hover {
	background: none !important;
}

.table-sale-round {
	.ant-table-thead > tr > th {
		color: #36c1ff;
	}
}

tr.ant-table-placeholder:hover > td {
	.ant-empty-description {
		color: white;
	}

	&:hover,
	&:focus {
		background-color: #0e1a2b !important;
	}
}
