.ant-table {
	background: none;
	overflow: hidden;
	border-radius: 5px;
	border: 1px solid #ffffff1f;
}

.table-border-top {
	.ant-table-thead > tr > th {
		// border: none;
	}
}

.ant-table table {
}

.ant-table-thead > tr > th {
	background: transparent !important;
	color: #ffffff4d !important;
	border-bottom: none;
	font-weight: 400;
	padding: 10px;
	font-size: 14px;
	line-height: 24px;
	font-family: 'Avenir Next LT Pro';
	border-color: #ffffff12;
}

.ant-table-tbody > tr > td {
	border-bottom: none;
	padding: 10px;
	color: white !important;
	&:hover {
		background-color: #121327;
	}
}

.ant-table-row {
	cursor: pointer;
	// border-top: 1px solid #2f3041 !important;
}

.ant-table-row:hover {
	background: #121327 !important;
}

.ant-table-cell-row-hover {
	background: #121327 !important;
}
