.ant-table {
	background: none;
	overflow: hidden;
	border-radius: 5px;
	border: none;
	background-color: #0e1a2b !important;
	padding: 20px 40px;
}

.table-border-top {
	.ant-table-thead > tr > th {
		// border: none;
	}
}

.ant-table table {
}

.ant-table-thead > tr > th {
	background: transparent !important;
	color: #ffffff;
	border-bottom: none;
	font-weight: 400;
	padding: 10px 0 !important;
	font-size: 14px;
	line-height: 24px;
	font-family: 'Avenir Next LT Pro';
	border-color: #ffffff12;
}

.ant-table-tbody > tr > td {
	border-bottom: none;
	padding: 10px 0 !important;
	border-top: 1px solid #2f3041 !important;
	color: white !important;
	&:hover {
		background-color: #121327;
	}
}

.ant-table-row {
	cursor: pointer;
	// border-top: 1px solid #2f3041 !important;
}

.ant-table-row:hover {
	background: #121327 !important;
}

.ant-table-cell-row-hover {
	background: #121327 !important;
}

.table-sale-round {
	.ant-table-thead > tr > th {
		color: #36c1ff;
	}
}

tr.ant-table-placeholder:hover > td {
	.ant-empty-description {
		color: white;
	}

	&:hover,
	&:focus {
		background-color: #0e1a2b !important;
	}
}
